# Python3 dev files
_build/
*_build*
build/
.cache
*coverage*
dist
*.egg-info
generated/
.ipynb_checkpoints
__pycache__
.pytest_cache
setup.cfg
*_static*
*.swp
*_templates*
%SystemDrive%
**/random_cube.txt
